In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/player_stats_men.csv')

In [3]:
df.head()

,Unnamed: 0,S.NO,PLAYER NAME,JERSEY NO.,CLUB,Position,Height,Weight,NO. OF GAME PLAYED,TOTAL SCORE,...,FREE THROW ATTEMPT,FREE THROW MADE,FREE THROW ACCURACY %,EFFICIENCY,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,4,1,Karma Gurung,8,GGIC,Shooting Guard,5'11,86.0,14,38,...,12,6,50,2.071429,75.0,46.0,29.0,14.0,NaN,NaN
1,5,2,Chiranjivi Rokaya,35,GGIC,Small Forward,5'11,66.0,14,11,...,8,1,12.5,0.571429,22.0,14.0,8.0,14.0,NaN,NaN
2,6,3,Rajiv Joshi,7,GGIC,Guard,5'10,76.0,14,112,...,22,18,81.81818182,8.000000,182.0,70.0,112.0,14.0,NaN,NaN
3,7,4,Binod Shrestha,3,GGIC,Gaurd,5'8,78.0,14,116,...,6,4,66.66666667,5.357143,161.0,86.0,75.0,14.0,NaN,NaN
4,8,5,Kabindra Pradhan,1,GGIC,Small Forward,6'0,69.0,14,41,...,15,7,46.66666667,3.571429,81.0,31.0,50.0,14.0,NaN,NaN

In [4]:
df.columns

Index(['Unnamed: 0', 'S.NO', 'PLAYER NAME', 'JERSEY NO.', 'CLUB', 'Position',
       'Height', 'Weight', 'NO. OF GAME PLAYED', 'TOTAL SCORE',
       'AVR. SCORE PER GAME', 'FOULS', 'TECHNICAL', 'BLOCK', 'TOTAL ASSIST',
       'AVR. ASSIST PER GAME', 'TOTAL REBOUND', 'AVR. REBOUND PER GAME',
       'STEAL', 'TOTAL TURN OVER', 'AVR. TURNOVER PER GAME',
       '3 POINTS ATTEMPT', '3 POINTS MADE', '3 PA %', '2 POINT ATTEMPT',
       '2 POINT MADE', '2 PA %', 'FIELD GOALS ATTEMPT', 'FIELD GOALS MADE',
       'FIELD GOAL %', 'FREE THROW ATTEMPT', 'FREE THROW MADE',
       'FREE THROW ACCURACY %', 'EFFICIENCY', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39'],
      dtype='object')

In [6]:
positions = df['Position'].unique()

positions

array(['Shooting Guard', 'Small Forward', 'Guard', 'Gaurd',
       'Shooting Gaurd', 'Centre', 'Point Guard', 'small forward',
       'Forward', 'Post Player', 'Post Position', 'Power Forward',
       'Center', 'Shooting Guard/Small forward', nan, 'Post /Center',
       'Point Gaurd', 'Point Gaurd, Shooting Gaurd',
       'Power Forward Center', 'Power Forward ',
       'Point Guard/ Shooting Guard', 'Small Forward/Guard',
       'PowerForward'], dtype=object)

In [7]:
front_court = ['Centre',
       'Forward', 'Post Player', 'Post Position', 'Power Forward',
       'Center', 'Post /Center',
       'Power Forward Center', 'Power Forward ',
       'PowerForward']

In [10]:
front_court_players = df.loc[df['Position'].isin(front_court)]

front_court_players.head()

,Unnamed: 0,S.NO,PLAYER NAME,JERSEY NO.,CLUB,Position,Height,Weight,NO. OF GAME PLAYED,TOTAL SCORE,...,FREE THROW ATTEMPT,FREE THROW MADE,FREE THROW ACCURACY %,EFFICIENCY,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
7,11,8,Yogesh Kanderiya,13,GGIC,Centre,"6'3""",83.0,14,146,...,41,25,60.97560976,10.857143,230.0,78.0,152.0,14.0,NaN,NaN
8,12,9,Swaichhik Karki,11,GGIC,Centre,6'2,72.0,14,0,...,4,2,50,1.714286,36.0,12.0,24.0,14.0,NaN,NaN
12,16,13,Monaj Raj Rajopadhyaya,23,GGIC,Forward,6'0,72.0,14,49,...,11,6,54.54545455,5.071429,124.0,53.0,71.0,14.0,NaN,NaN
13,20,1,Harka Raj Thapa,14,TAC,Post Player,5'11,76.0,14,6,...,1,1,100,0.357143,18.0,13.0,5.0,14.0,NaN,NaN
15,22,3,Dhan Singh Bista,15,TAC,Post Position,5'11,80.0,14,4,...,0,0,#DIV/0!,0.214286,6.0,3.0,3.0,14.0,NaN,NaN

In [11]:
front_court_players['3 PA %'].replace({'#DIV/0!': 0}, inplace=True)
front_court_players['2 PA %'].replace({'#DIV/0!': 0}, inplace=True)
front_court_players['FREE THROW ACCURACY %'].replace({'#DIV/0!': 0}, inplace=True)

/home/aviskarkc10/.local/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [13]:
attempts_stats = front_court_players['3 POINTS ATTEMPT'].describe()

attempts_stats

count    36.000000
mean      4.055556
std       6.969093
min       0.000000
25%       0.000000
50%       1.000000
75%       5.000000
max      29.000000
Name: 3 POINTS ATTEMPT, dtype: float64

In [17]:
front_court_players.sort_values(ascending=False, by=['3 POINTS ATTEMPT']).head(10)

,Unnamed: 0,S.NO,PLAYER NAME,JERSEY NO.,CLUB,Position,Height,Weight,NO. OF GAME PLAYED,TOTAL SCORE,...,FREE THROW ATTEMPT,FREE THROW MADE,FREE THROW ACCURACY %,EFFICIENCY,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
95,112,13,Wisdom Pandey,7,SSBC,Forward,5'11,104.0,14,34,...,2,0,0,1.428571,54.0,34.0,20.0,14.0,NaN,NaN
77,92,9,Chewang Lama Jhankri,4,AKBT,Power Forward,6'2,80.0,14,50,...,3,12,400,4.285714,116.0,56.0,60.0,14.0,NaN,NaN
12,16,13,Monaj Raj Rajopadhyaya,23,GGIC,Forward,6'0,72.0,14,49,...,11,6,54.54545455,5.071429,124.0,53.0,71.0,14.0,NaN,NaN
64,77,10,Rupesh Napit,10,BMBC,Forward,5'11,71.0,14,117,...,8,5,62.5,7.642857,173.0,66.0,107.0,14.0,NaN,NaN
88,105,6,Sanjay Benjankar,13,SSBC,Power Forward,6'1,95.0,14,17,...,2,2,100,1.000000,43.0,29.0,14.0,14.0,NaN,NaN
106,125,10,Binesh Neupane,12,RBC,PowerForward,6'0,85.0,14,24,...,4,4,100,0.714286,45.0,35.0,10.0,14.0,NaN,NaN
50,61,10,Ujen Norbu Gurung,20,TTIC,Power Forward,5'11,77.0,14,44,...,4,3,75,2.857143,76.0,36.0,40.0,14.0,NaN,NaN
98,117,2,Vivek Lama,23,RBC,Forward,5'9,66.0,14,2,...,0,0,0,0.142857,10.0,8.0,2.0,14.0,NaN,NaN
24,31,12,Ajay Kushwaha,6,TAC,Center,6'4,75.0,14,115,...,34,9,26.47058824,10.285714,245.0,101.0,144.0,14.0,NaN,NaN
28,37,2,SUDEEP POUDEL CHHETRI,13,NPC,Power Forward,6'0,77.0,14,54,...,11,5,45.45454545,4.857143,111.0,43.0,68.0,14.0,NaN,NaN