In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('player_stats_men.csv')

In [3]:
df.head()

,Unnamed: 0,S.NO,PLAYER NAME,JERSEY NO.,CLUB,Position,Height,Weight,NO. OF GAME PLAYED,TOTAL SCORE,...,FREE THROW ATTEMPT,FREE THROW MADE,FREE THROW ACCURACY %,EFFICIENCY,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,4,1,Karma Gurung,8,GGIC,Shooting Guard,5'11,86.0,14,38,...,12,6,50,2.071429,75.0,46.0,29.0,14.0,NaN,NaN
1,5,2,Chiranjivi Rokaya,35,GGIC,Small Forward,5'11,66.0,14,11,...,8,1,12.5,0.571429,22.0,14.0,8.0,14.0,NaN,NaN
2,6,3,Rajiv Joshi,7,GGIC,Guard,5'10,76.0,14,112,...,22,18,81.81818182,8.000000,182.0,70.0,112.0,14.0,NaN,NaN
3,7,4,Binod Shrestha,3,GGIC,Gaurd,5'8,78.0,14,116,...,6,4,66.66666667,5.357143,161.0,86.0,75.0,14.0,NaN,NaN
4,8,5,Kabindra Pradhan,1,GGIC,Small Forward,6'0,69.0,14,41,...,15,7,46.66666667,3.571429,81.0,31.0,50.0,14.0,NaN,NaN

In [4]:
df.columns

Index(['Unnamed: 0', 'S.NO', 'PLAYER NAME', 'JERSEY NO.', 'CLUB', 'Position',
       'Height', 'Weight', 'NO. OF GAME PLAYED', 'TOTAL SCORE',
       'AVR. SCORE PER GAME', 'FOULS', 'TECHNICAL', 'BLOCK', 'TOTAL ASSIST',
       'AVR. ASSIST PER GAME', 'TOTAL REBOUND', 'AVR. REBOUND PER GAME',
       'STEAL', 'TOTAL TURN OVER', 'AVR. TURNOVER PER GAME',
       '3 POINTS ATTEMPT', '3 POINTS MADE', '3 PA %', '2 POINT ATTEMPT',
       '2 POINT MADE', '2 PA %', 'FIELD GOALS ATTEMPT', 'FIELD GOALS MADE',
       'FIELD GOAL %', 'FREE THROW ATTEMPT', 'FREE THROW MADE',
       'FREE THROW ACCURACY %', 'EFFICIENCY', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39'],
      dtype='object')